.flex-item{
    min-width: 50px;
    min-height: 50px;
    background: yellow;
    border: 6px solid chartreuse; 
}

/* Turn the OUTER div into a FLEXIBLE BOX which can control the LAYOUT of its INNER items */

.flex-container {
    display: flex;
    justify-content:space-around;
    align-items:stretch;

    border:6px solid hotpink;
    height: 100px;
}

/* If you set the direction to COLUMN instead, the MAIN AXIS and the CROSS AXIS switch */


.flex-container-col{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    border: 6px solid hotpink;  
    height: 250px
}

#special{
    flex-grow: 15;
}

